html { 
    background: url(../images/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* Headings */

  h1, h2, h3 {
    color: #ee3538;
    font-family: 'Luckiest Guy', cursive;
    -webkit-text-stroke: black 1px;
    

}

h1 {
    font-size: 65px;
    margin-top: 20px;

}

p {
    font-size: 30px;
    font-family: 'Luckiest Guy', cursive;
    color: black;

}

#result {
    margin:auto;
}


#main-title {
    font-size: 70px;
    margin-top: 40px;
}

/* Containers for game */

.game-container {
    width: 80%;
    height: 600px;
    margin: auto;
    background-color: white;
    border-radius: 5%;
    border: solid black 2px;
    text-align: center;
    margin-top: 30px;
}

#inner-container-left {
    width: 50%;
    float: left;

}

#inner-container-right{
    width: 50%;
    float: right;
}


/* Button Styles */

.btn1 {
    color: white;
    background-color: #ee3538;
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    border-radius: 5px;
    width: 125px;
    height: 35px;
    display: inline-block;
    cursor: pointer;
    
    
}

.btn1:hover {
    background-color: #f89c44;
}

.play-button {
    color: white;
    background-color: #ee3538;
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    display: inline-block;
    cursor: pointer;

    

}

.play-button:hover {
    background-color: #f89c44;

}


.play-button a {
    text-decoration: none;
    color: white;
}
